---
const {nombre, iconoLight, iconoDark} = Astro.props;
---

<div class="flex flex-row w-fit bg-light-primario dark:bg-dark-primario items-center justify-center gap-1 px-3 py-1 rounded-lg hover:scale-110 transform transition">
  <div class="">
    <img class="w-3 block dark:hidden" src={iconoDark} alt={nombre}>
    <img class="w-3 hidden dark:block" src={iconoLight} alt={nombre}>
  </div>
  <span class="text-light-fondo dark:text-dark-fondo text-[12px]">{nombre}</span>

</div>
